{% capture youtube_id %}{{ podcast.youtube_url | split: 'https://www.youtube.com/watch?v=' }}{% endcapture %}

<div class="card">
    <a href="{% path_to podcast %}">
        <amp-img alt="{{ podcast.categorie }} | {{ podcast.naam }} Thumbnail"
                src="{% unless podcast.thumbnail.url == blank %}{{ podcast.thumbnail.url }}{% else %}https://img.youtube.com/vi/{{ youtube_id }}/maxresdefault.jpg{% endunless %}",
                srcset="{% unless podcast.thumbnail.url == blank %}{{ podcast.thumbnail.url }}{% else %}https://img.youtube.com/vi/{{ youtube_id }}/maxresdefault.jpg{% endunless %} 800w,
                {% unless podcast.thumbnail.url == blank %}{{ podcast.thumbnail.url }}{% else %}https://img.youtube.com/vi/{{ youtube_id }}/mqdefault.jpg{% endunless %} 500w"
                width="1920"
                height="1080"
                layout="responsive">
                <div fallback>Thumbnail niet gevonden</div>
                </amp-img>
    </a>

    <h4 style="margin: 10px 0 0">
        {{ podcast.categorie }} | {{ podcast.naam }}
    </h4>

    <span class="secondary">
        {{ podcast.publication_date | date: '%d-%m-%Y' }}
    </span>

    <div class="description">
        {{ podcast.omschrijving | strip_html | concat_words: 15 }}
    </div>

    <a class="btn-watch" href="{% path_to podcast %}">
        <span>Bekijk aflevering</span>
    </a>


</div>