<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ site.seo_title }}</title>

  <!-- OpenGraph Data -->
  <meta property="og:title" content="{{ site.seo_title }}" />
  <meta property="og:description" content="{{ site.meta_description }}" />
  <meta property="og:type" content="site" />
  <meta property="og:url" content="{{ base_url }}" />
  <meta property="og:image" content="{{ 'filmerds_pixel.jpg' | theme_image_url }}" />

  <meta name="theme-color" content="#385c80">
  <meta name="keywords" value="{{ site.meta_keywords }}" />
  <meta name="description" value="{{ site.meta_description }}" />
  <meta name="subject" content="Nederlandse podcast over films">

  <!-- Stylesheets -->
  {{ 'style.min.css' | stylesheet_tag }}

  <!-- Third party libs -->
  <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
</head>
