<head>
  <meta charset="utf-8">

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <title>{{ site.seo_title }}</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="canonical" href="https://www.filmerds.com{% path_to page %}">


  <!-- OpenGraph Data -->
  <meta property="og:title" content="{{ site.seo_title }}" />
  <meta property="og:description" content="{{ site.meta_description }}" />
  <meta property="og:type" content="site" />
  <meta property="og:url" content="{{ base_url }}" />
  <meta property="og:image" content="{{ 'filmerds_pixel.jpg' | theme_image_url }}" />

  <meta name="theme-color" content="#385c80">
  <meta name="keywords" value="{{ site.meta_keywords }}" />
  <meta name="description" value="{{ site.meta_description }}" />
  <meta name="subject" content="Nederlandse podcast over films">

  <!-- Stylesheets -->
  {% comment %}
  {{ 'lib/simplegrid/simplegrid.min.css' | stylesheet_tag }}
  {{ 'style.min.css' | stylesheet_tag }}
  {% endcomment %}

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>
