---
title: Archief
slug: archief
position: 99
listed: true
published: true
is_layout: false
editable_elements:
  main/Heading Tekst: Doorzoek de Filmerds lore!
  main/Paragraph Tekst: Wij maken al sinds maart 2016 wekelijks videopodcasts. Zie
    hier ons mega archief met alle oude Filmerds afleveringen! Je hebt zelfs de mogelijkheid
    om de afleveringen te filteren op format.
---
{% action "Query archive" %}
  if (params.search) {
    setProp("query", params.search);
  }
{% endaction %}

{% extends 'layouts/default' %}

{% block 'main' %}
  {% if site.metafields.misc_settings.production == true %}
    {% include tracking_body %}
  {% endif %}

  {% include navigation with page: 'archief' %}

  <div class="container">
    <section class="archief pt-50 pb-50">
      <div class="row">
        <div class="col-12">
            {% if params.category and params.category != "" %}
              <h2>{% include search_string_builder %}</h2>
            {% elsif params.search and params.search != "" %}
              <h2>{% include search_string_builder %}</h2>
            {% else %}
              <h2>
                {% editable_text "Heading Tekst", rows: 1 %}
                  Doorzoek de Filmerds lore!
                {% endeditable_text %}
              </h2>

              <p>
                {% editable_text "Paragraph Tekst", rows: 5 %}
                  Wij maken al sinds maart 2016 wekelijks videopodcasts. Zie hier ons mega archief met alle oude Filmerds afleveringen! Je hebt zelfs de mogelijkheid om de afleveringen te filteren op format.
                {% endeditable_text %}
              </p>
            {% endif %}
        </div>
      </div>


      <div class="row">
        <div class="col-9">      
          <form method="GET"
                action="/archief"
                target="_top">
            <div class="searchwrap">
                <input type="search"
                        placeholder="Vind de lore..."
                        name="search"
                        class="search"
                        {% if params.search %}value="{{ params.search }}"{% endif %}>
                  {% if params.category %}
                    <input type="text"
                           name="category"
                           class="hidden"
                           value="{{ params.category }}">
                  {% endif %}
            </div><input type="submit"
                  value="Zoeken"
                  class="btn btn-search">
            </form>
          </div>

          <div class="col-3">
          <form method="GET"
                action="/archief"
                target="_top"
                id="category-form">
            <select name="category"
                	  class="filter"
                    on="change:category-form.submit"
                    value="HAL">
              <option value="">Filter</option>
              <option value="Discussie" {% if params.category == "Discussie" %}selected{% endif %}>Discussie</option>
              <option value="Favorieten" {% if params.category == "Favorieten" %}selected{% endif %}>Favorieten</option>
              <option value="Filmnieuws" {% if params.category == "Filmnieuws" %}selected{% endif %}>Filmnieuws</option>
              <option value="Het oeuvre van" {% if params.category == "Het oeuvre van" %}selected{% endif %}>Het oeuvre van</option>
              <option value="Interview" {% if params.category == "Interview" %}selected{% endif %}>Interview</option>
              <option value="Praattafel" {% if params.category == "Praattafel" %}selected{% endif %}>Praattafel</option>
              <option value="Preview" {% if params.category == "Preview" %}selected{% endif %}>Preview</option>
              <option value="Review" {% if params.category == "Review" %}selected{% endif %}>Review</option>
              <option value="Special" {% if params.category == "Special" %}selected{% endif %}>Special</option>
              <option value="Statafel" {% if params.category == "Statafel" %}selected{% endif %}>Statafel</option>
              <option value="Stelling" {% if params.category == "Stelling" %}selected{% endif %}>Stelling</option>
              <option value="Terugblik" {% if params.category == "Terugblik" %}selected{% endif %}>Terugblik</option>
              <option value="Voorbeschouwing" {% if params.category == "Voorbeschouwing" %}selected{% endif %}>Voorbeschouwing</option>
              <option value="Vooruitblik" {% if params.category == "Vooruitblik" %}selected{% endif %}>Vooruitblik</option>
              <option value="Monoloog" {% if params.category == "Monoloog" %}selected{% endif %}>Monoloog</option>
              <option value="Podcast" {% if params.category == "Podcast" %}selected{% endif %}>Podcast</option>
            </select>

            {% if params.search %}
              <input type="text"
                     name="search"
                     class="hidden"
                     value="{{ params.search }}">
            {% endif %}
          </form>
          </div>
      </div>

      {% capture 'query_regex' %}/{{ query }}/i{% endcapture %}
      {% capture 'category_param' %}{{ params.category | capitalize }}{% endcapture %}
        
      <div class="row">
        {% if params.category and params.category != "" %}
          {% with_scope publication_date.lte: now, naam: query_regex, categorie: category_param %}        
            {% include archive_loop %}
          {% endwith_scope %}
        {% else %}
          {% with_scope publication_date.lte: now, naam: query_regex %}
            {% include archive_loop %}          
          {% endwith_scope %}
        {% endif %}
      </div>
    </section>
  </div>

{% endblock %}