---
title: Archief
published: true
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> <!-- Set character encoding for the document -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.name }}</title>
    <meta name="keywords" value="{{ site.meta_keywords }}" />
    <meta name="description" value="{{ site.meta_description }}" />

    {{ 'style.min.css' | stylesheet_tag }}

    <script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
  </head>
  <body>
    {% block 'main' %}

      {% include jumbo_styles %}


      <section class="jumbotron">
        <div>
          {% assign yt_link = "https://www.youtube.com/watch?v=gEeRhlnhxNQ" %}

          <div class="yt-container">
            <iframe class="yt-video" src="https://www.youtube.com/embed/{{ yt_link | split: 'https://www.youtube.com/watch?v=' }}" frameborder="0" allowfullscreen></iframe>
          </div>

          <img style="margin:auto; width: 50vw;" src="{{ 'filmerds_pixel.jpg' | theme_image_url }}" />

        </div>
        <nav >
        </nav>
      </section>

      <section class="navigation">

        <nav>
          <a class="btn-nav" href="/">Archief</a>
          <a class="btn-nav" href="/">Wat?</a>
          <a class="btn-nav" href="/">Waar?</a>
          <a class="btn-nav" href="/">Waarom?</a>
          <a class="btn-nav" href="/">Wanneer?</a>
        </nav>
      </section>

    {% endblock %}
  </body>
</html>
