---
title: Archief
slug: archief
position: 99
listed: false
published: true
is_layout: false
editable_elements:
  main/Heading Tekst: Doorzoek de Filmerds lore!

---
{% action "Query archive" %}
  if (params.search) {
    setProp("query", params.search);
  }
{% endaction %}

{% extends 'layouts/default' %}

{% block 'main' %}
  {% if site.metafields.misc_settings.production == true %}
    {% include tracking_body %}
  {% endif %}

  {% include navigation with page: 'archief' %}

  <div class="container">
    <section class="archief pt-50 pb-50">
      <div class="row">
        <div class="col-12">
          <h2>
            {% if params.search and params.search != "" %}
              Resultaten voor: {{ params.search }}
            {% else %}
              {% editable_text "Heading Tekst" %}
                Doorzoek de Filmerds lore!
              {% endeditable_text %}
            {% endif %}
          </h2>
        </div>        
      </div>


      <div class="row">
        <div class="col-12">
        <form method="GET"
              class=""
              action="/archief"
              target="_top">
          <div class="searchwrap">
              <input type="search"
                      placeholder="Vind de lore..."
                      name="search"
                      class="search"
                      {% if params.search %}value="{{ params.search }}"{% endif %}>
          </div><input type="submit"
                value="Zoeken"
                class="btn btn-search">
        </form>
        </div>        
      </div>

      {% capture 'query_regex' %}/{{ query }}/i{% endcapture %}
        
      <div class="row">
          {% with_scope publication_date.lte: now, naam: query_regex %}
            {% unless contents.podcasts.count == 0 %}
              {% paginate contents.podcasts by 9 %}
                {% for podcast in paginate.collection %}

                  <div class="col-4 col-md-6 col-sm-12">
                    {% include 'card_podcast' with podcast: podcast %}
                  </div>

                {% endfor %}

                <div class="col-12">
                  {{ paginate | default_pagination }}
                </div>
              {% endpaginate %}
            {% else %}
              <div class="col-12">            
                Geen resultaten voor: {{ params.search }}
              </div>
            {% endunless %}
          {% endwith_scope %}
      </div>
    </section>
  </div>

{% endblock %}