---
title: Home
published: true
---

{% extends 'layouts/default' %}

{% block 'main' %}

  {% include styles_default %}

  <section class="jumbotron">
    <div>

      {% with_scope publication_date.lte: today %}

        {% assign latest = contents.podcasts.first %}

        <!-- <div class="yt-container">
          <iframe class="yt-video" src="https://www.youtube.com/embed/{{ latest.youtube_url | split: 'https://www.youtube.com/watch?v=' }}" frameborder="0" allowfullscreen></iframe>
        </div> -->

        <h1 class="white">{{ latest.categorie }} | {{ latest.naam }}</h1>
      {% endwith_scope %}
    </div>
  </section>

  <div class="container">

    {% with_scope publication_date.lte: today %}
      {% paginate contents.podcasts by 5 %}

        <ul>
        {% for podcast in paginate.collection %}
          <li><a href="{% path_to podcast %}">{{ podcast.categorie }} | {{ podcast.naam }}</a></li>
        {% endfor %}
        </ul>
        <div class="pagination">
          {% if paginate.previous_page %}<a href="?page={{ paginate.previous_page }}">Previous</a>{% endif %}
          {% if paginate.next %}<a href="?page={{ paginate.next_page }}">Next</a>{% endif %}
        </div>

      {% endpaginate %}
    {% endwith_scope %}

    <nav>
      <a class="btn-nav" href="/archief">Archief</a>
      <a class="btn-nav" href="/">Wat?</a>
      <a class="btn-nav" href="/">Waar?</a>
      <a class="btn-nav" href="/">Waarom?</a>
      <a class="btn-nav" href="/">Wanneer?</a>
    </nav>

  </div>

  <footer>
    <div class="container">
      <div class="row">

        {% include 'footer' %}

      </div>
    </div>
  </footer>


{% endblock %}
