---
title: Home
published: true
---

{% extends 'layouts/default' %}

{% block 'main' %}

  {% include jumbo_styles %}

  <section class="jumbotron">
    <div>
      {% assign yt_link = contents.podcasts.first.youtube_url %}

      <div class="yt-container">
        <iframe class="yt-video" src="https://www.youtube.com/embed/{{ yt_link | split: 'https://www.youtube.com/watch?v=' }}" frameborder="0" allowfullscreen></iframe>
      </div>

      <img style="margin:auto; width: 50vw;" src="{{ 'filmerds_pixel.jpg' | theme_image_url }}" />

      {{ contents.podcasts.count }}
      {{ contents.podcasts.first.categorie }} | {{ contents.podcasts.first.naam }}


    </div>
  </section>

  {% with_scope publication_date.lte: today %}
    {% paginate contents.podcasts by 5 %}

      <ul>
      {% for podcast in paginate.collection %}
        <li>{{ podcast.categorie }} | {{ podcast.naam }}</li>

        <audio controls>
          <source src="{{ podcast.s3_url }}" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
      {% endfor %}
      </ul>
      <div class="pagination">
        {% if paginate.previous_page %}<a href="?page={{ paginate.previous_page }}">Previous</a>{% endif %}
        {% if paginate.next %}<a href="?page={{ paginate.next_page }}">Next</a>{% endif %}
      </div>

    {% endpaginate %}
  {% endwith_scope %}

  <section class="navigation">
    <nav>
      <a class="btn-nav" href="/archief">Archief</a>
      <a class="btn-nav" href="/">Wat?</a>
      <a class="btn-nav" href="/">Waar?</a>
      <a class="btn-nav" href="/">Waarom?</a>
      <a class="btn-nav" href="/">Wanneer?</a>
    </nav>
  </section>


{% endblock %}
