---
title: Over ons
listed: true
published: true
handle: over_ons
editable_elements:
  main/Biografie Heading: Wij zijn Filmerds!
  main/Biografie Cpmtent: Wij zijn de mannen van Filmerds!<div><br></div><div>Twee
    keer per week brengen wij coole podcasts uit over films. Dat doen we in zowel
    video als audio formaat.</div>
  main/Afbeelding: "/samples/pages/filmerds_pixel.jpg"
---

{% extends 'layouts/default' %}

{% block 'main' %}
  {% if site.metafields.misc_settings.production == true %}
      {% include tracking_body %}
  {% endif %}

  {% include navigation %}
  
  <div class="container">
    <section class="pt-50" style="padding-top: 90px;">
       <div class="row">
        <div class="col-12">          

          <amp-img alt="Filmerds"
                    src="{% editable_file 'Afbeelding', hint: 'Upload een banner', priority: 1 %}/samples/filmerds_pixel.jpg{% endeditable_file %}"
                    width="1404"
                    height="702"
                    layout="responsive">
          </amp-img>

        </div>
      </div>
    </section>

    <section class="about">
      <div class="row">
        <div class="col-12">
          <h1>
            {% editable_text "Biografie Heading", format: raw, rows: 1 %}
                Wij zijn Filmerds!
            {% endeditable_text %}
          </h1>

          <p>
            {% editable_text "Biografie Content" %}
                Goed verhaal
            {% endeditable_text %}
          </p>
        </div>
    </section>

    <section class="members">
        {% for member in contents.members %}
          {% capture bio %}
            <div class="col-12-sm col-8 member__bio">
              <h3>{{ member.name }}</h3>
              <h5>{{ member.subtitle }}</h5>
              {{ member.bio }}
            </div>
          {% endcapture %}

          {% capture avatar %}
            <div class="col-12-sm col-4 member__thumbnail">
             <picture>
              {% unless member.gifs.empty? %}
                {% assign gif_nr = member.gifs.count | random | plus: 1 %}
                {% for gif in member.gifs %}
                  {% if forloop.index == gif_nr %}
                      <img src="{{ gif.gif.url }}" alt="{{ member.name }}">
                  {% endif %}
                {% endfor %}
              {% else %}
                <img src="{{ member.avatar.url }}" alt="{{ member.name }}">              
              {% endunless %}
             </picture>
            </div>
          {% endcapture %}

          <div class="row row--member">
            {% if forloop.index == 1 or forloop.index == 3 %}
              {{ bio }}
              {{ avatar }}
            {% else %}
              {{ avatar }}
              {{ bio }}
            {% endif %}            
          </div>
        {% endfor %}
    </section>

  </div>

{% endblock %}
