---
title: Rss
listed: false
published: true
response_type: application/xml
---

<?xml version="1.0" encoding="UTF-8" ?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
  <channel>
    <title>{{ site.metafields.rss_settings.title }}</title>
    <link>{{ site.metafields.rss_settings.link }}</link>
    <language>{{ site.metafields.rss_settings.language }}</language>

    <copyright>{{ site.metafields.rss_settings.copyright }}</copyright>

    <itunes:subtitle>
      {{ site.metafields.rss_settings.subtitle }}
    </itunes:subtitle>

    <itunes:author>{{ site.metafields.rss_settings.author }}</itunes:author>
    <itunes:summary>{{ site.metafields.rss_settings.description }}</itunes:summary>
    <description>{{ site.metafields.rss_settings.description }}</description>
    <itunes:type>{{ site.metafields.rss_settings.type }}</itunes:type>
    <itunes:owner>
      <itunes:name>{{ site.metafields.rss_settings.owner_name }}</itunes:name>
      <itunes:email>{{ site.metafields.rss_settings.owner_email }}</itunes:email>
    </itunes:owner>
    <itunes:image href="{{ site.metafields.rss_settings.cover_art }}"/>
    <itunes:category text="TV &amp; Film"></itunes:category>
    <itunes:explicit>
    {% if site.metafields.rss_settings.explicit %}yes{% else %}no{% endif %}
    </itunes:explicit>

    {% with_scope publication_date.lte: today %}
      {% for episode in contents.podcasts %}
        <item>
          <itunes:episodeType>full</itunes:episodeType>
          <itunes:title>{{ episode.categorie }} | {{ episode.naam | escape }}</itunes:title>
          <title>{{ episode.categorie }} | {{ episode.naam | escape }}</title>
          <itunes:author>{{ site.metafields.rss_settings.author | escape }}</itunes:author>
          <itunes:summary>{{ episode.omschrijving | escape }}</itunes:summary>
          <description>{{ episode.omschrijving | escape }}</description>
          <!-- <content:encoded><![CDATA[The Sunset Explorers share tips, techniques and recommendations for great hikes and adventures around the United States. Listen on <a href="https://www.apple.com/itunes/podcasts/">Apple Podcasts</a>]]>.</content:encoded> -->
          <enclosure length="{{ episode.s3_filesize }}" type="audio/mpeg" url="{{ episode.s3_url | escape }}"/>
          <guid>https://www.filmerds.com{% path_to episode %}</guid>
          <link>https://www.filmerds.com{% path_to episode %}</link>
          <pubDate>{{ episode.publication_date | date: '%a, %d %b %Y %H:%M:%S' }}</pubDate>
          <itunes:explicit>yes</itunes:explicit>
        </item>
      {% endfor %}
    {% endwith_scope %}

  </channel>
</rss>
