---
title: Podcast template page
content_type: podcasts
---

<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="nl" amp>

  <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>

    <title>{{ podcast.categorie }} | {{ podcast.naam }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="canonical" href="https://www.filmerds.com{% path_to page %}">

    {% capture youtube_id %}{{ podcast.youtube_url | split: 'https://www.youtube.com/watch?v=' }}{% endcapture %}

    <!-- OpenGraph Data -->
    <meta property="og:title" content="Filmerds - {{ podcast.categorie }} | {{ podcast.naam }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.filmerds.com{% path_to page %}" />
    <meta property="og:image" content="{% unless podcast.thumbnail.url == blank %}{{ podcast.thumbnail.url }}{% else %}https://img.youtube.com/vi/{{ youtube_id }}/maxresdefault.jpg{% endunless %}" />
    <meta property="og:description" content="{{ podcast.omschrijving | strip_html }}" />
    <meta property="article:published_time" content="{{ podcast.publication_date }}" />
    <meta property="article:publisher" content="https://www.facebook.com/Filmerds" />
    <meta property="article:section" content="{{ podcast.categorie }}" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@filmerds">
    <meta name="twitter:title" content="Filmerds - {{ podcast.categorie }} | {{ podcast.naam }}">
    <meta name="twitter:description" content="{{ podcast.omschrijving | strip_html }}">
    <meta name="twitter:image" content="{% unless podcast.thumbnail.url == blank %}{{ podcast.thumbnail.url }}{% else %}https://img.youtube.com/vi/{{ youtube_id }}/maxresdefault.jpg{% endunless %}">
  
    <meta name="theme-color" content="#385c80">
    <meta name="keywords" content="{{ site.meta_keywords }}" />
    <meta name="description" content="{{ podcast.omschrijving | strip_html }}" />
    <meta name="subject" content="{{ podcast.naam | strip_html }}">

    <link rel="apple-touch-icon" sizes="180x180" href="https://s3.eu-central-1.amazonaws.com/filmerds-podcast-wp/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://s3.eu-central-1.amazonaws.com/filmerds-podcast-wp/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://s3.eu-central-1.amazonaws.com/filmerds-podcast-wp/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://s3.eu-central-1.amazonaws.com/filmerds-podcast-wp/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://s3.eu-central-1.amazonaws.com/filmerds-podcast-wp/favicon/safari-pinned-tab.svg" color="#385c80">
    <link rel="shortcut icon" href="https://s3.eu-central-1.amazonaws.com/filmerds-podcast-wp/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#385c80">
    <meta name="msapplication-config" content="https://s3.eu-central-1.amazonaws.com/filmerds-podcast-wp/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic">    
    
    {% if site.metafields.misc_settings.production == true %}
      {% include styles_min %}
      {% include tracking %}
    {% else %}
      {% include styles_default %}
      {% endif %}
  </head>

  <body>
   {% include 'sidebar' %}    

    {% if site.metafields.misc_settings.production == true %}
        {% include tracking_body %}
    {% endif %}

    {% include navigation with back: true %}    

    <div class="container">
      <section class="pt-90">
        <div class="row">
          <div class="col-12">
            <amp-youtube class="youtube-player"
              width="1920"
              height="1080"
              class="youtube-player"
              layout="responsive"
              data-videoid="{{ youtube_id }}"
              {% if site.metafields.misc_settings.autoplay == true %}autoplay{% endif %}>
            </amp-youtube>
          </div>
        </div>              
      </section>

      <div class="row">
        <div class="col-12">
          <h2 style="margin-bottom: 0;">{{ podcast.categorie }} | {{ podcast.naam }}</h2>

          <span>
            <strong class="secondary">{{ podcast.publication_date | date: '%d-%m-%Y' }}</strong>
          </span>

          <span>{{ podcast.omschrijving }}<span>

          <div style="margin-top: 15px; font-size: 90%; ">
            <span>Luister deze aflevering via </span>
            <a href="{{ site.metafields.social_media.itunes_url }}" target="_blank">iTunes</a><span>,</span>
            <a href="https://overcast.fm/itunes1098182855/filmerds" target="_blank">Overcast</a>
            <span>of</span>
            <a href="{{ podcast.s3_url }}" target="_blank">direct download</a><span>!</span>
          </div>
        </div>
      </div>

      <section class="pb-50">
        {% include 'suggested_podcasts' with podcast: podcast %}
      </section>
    </div>



    {% include 'footer' %}

  </body>
</html>
