---
title: Podcast template page
content_type: podcasts
---

<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="nl" amp>

  <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-audio" src="https://cdn.ampproject.org/v0/amp-audio-0.1.js"></script>

    <title>{{ podcast.categorie }} | {{ podcast.naam }} - Filmerds</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="canonical" href="https://www.filmerds.com{% path_to page %}">

    {% capture youtube_id %}{{ podcast.youtube_url | split: 'https://www.youtube.com/watch?v=' }}{% endcapture %}

    <!-- OpenGraph Data -->
    <meta property="og:title" content="{{ podcast.categorie }} | {{ podcast.naam }} - Filmerds" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.filmerds.com{% path_to page %}" />
    <meta property="og:image" content="{% unless podcast.thumbnail.url == blank %}{{ podcast.thumbnail.url }}{% else %}https://img.youtube.com/vi/{{ youtube_id }}/maxresdefault.jpg{% endunless %}" />
    <meta property="og:description" content="{{ podcast.omschrijving | strip_html }}" />
    <meta property="article:published_time" content="{{ podcast.publication_date }}" />
    <meta property="article:publisher" content="https://www.facebook.com/Filmerds" />
    <meta property="article:section" content="{{ podcast.categorie }}" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@filmerds">
    <meta name="twitter:title" content="{{ podcast.categorie }} | {{ podcast.naam }} - Filmerds">
    <meta name="twitter:description" content="{{ podcast.omschrijving | strip_html }}">
    <meta name="twitter:image" content="{% unless podcast.thumbnail.url == blank %}{{ podcast.thumbnail.url }}{% else %}https://img.youtube.com/vi/{{ youtube_id }}/maxresdefault.jpg{% endunless %}">
  
    <meta name="theme-color" content="#385c80">
    <meta name="keywords" content="{{ site.meta_keywords }}" />
    <meta name="description" content="{{ site.meta_description }}" />
    <meta name="subject" content="Nederlandse podcast over films">

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    {% include styles_default %}
  </head>

  <body>
    <amp-youtube class="youtube-player"
      width="1920"
      height="1080"
      class="youtube-player"
      layout="responsive"
      data-videoid="{{ youtube_id }}"
      {% if site.metafields.misc_settings.autoplay == true %}autoplay{% endif %}>
    </amp-youtube>

    <div class="container">
      <div class="row">
        <h2>{{ podcast.categorie }} | {{ podcast.naam }}</h2>

        <span>{{ podcast.omschrijving }}<span>

        <amp-audio src="{{ podcast.s3_url }}"
                   artwork="{% unless podcast.thumbnail.url == blank %}{{ podcast.thumbnail.url }}{% else %}https://img.youtube.com/vi/{{ youtube_id }}/maxresdefault.jpg{% endunless %}"
                   title="{{ podcast.categorie }} | {{ podcast.naam }} - Filmerds"
                   height="50"
                   width="auto">
          <div fallback>
            <p>Your browser doesn’t support HTML5 audio</p>
          </div>
        </amp-audio>
      </div>

      <div class="row">
        {% include 'suggested_podcasts' with categorie: podcast.categorie %}
      </div>
    </div>

    {% include 'footer' %}

  </body>
</html>
